{% extends "base.html" %}
{% block content %}
<h2>Admin Dashboard</h2>
<a href="/logout">Logout</a>

<table border="1" width="100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Resume</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row[1] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[1] }}</td>
        <td>
            {% if row[6] %}
            <a href="/uploads/{{ row[6] }}">Download</a>
            {% else %} N/A {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}