{% extends "base.html" %}

{% block content %}
<style>
    table {
        width: 100%;
    }
</style>
<h1>📚 LIBRARY</h1>

<div class="container">

    <form method="GET" autocomplete="off">
        <div>
            <input type="text" name="search" id="searchInput" placeholder="Search by title..." value="{{ search }}"
                onkeyup="showSuggestions()">

            <div id="suggestionBox" style="position:absolute;
                    background:white;
                    border:1px solid #ccc;
                    width:250px;
                    z-index:1000;">
            </div>
        </div>

        <button type="submit">Search</button>
        <a href="/library"><button type="button">Reset</button></a>
    </form>

    <table width="100%">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Size</th>
            <th>Download</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.size }}</td>
            <td>
                <a href="{{ url_for('books', filename=book.loc) }}">
                    Download
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>

</div>
<script>
    function showSuggestions() {

        let query = document.getElementById("searchInput").value;

        if (query.length < 1) {
            document.getElementById("suggestionBox").innerHTML = "";
            return;
        }

        fetch("/suggest?q=" + query)
            .then(response => response.json())
            .then(data => {

                let suggestionBox = document.getElementById("suggestionBox");
                suggestionBox.innerHTML = "";

                data.forEach(item => {
                    let div = document.createElement("div");
                    div.style.padding = "6px";
                    div.style.cursor = "pointer";
                    div.style.borderBottom = "1px solid #eee";

                    div.innerHTML = "<strong>" + item.title +
                        "</strong><br><small>" + item.author + "</small>";

                    div.onclick = function () {
                        document.getElementById("searchInput").value = item.title;
                        suggestionBox.innerHTML = "";
                    };

                    suggestionBox.appendChild(div);
                });
            });
    }
</script>

{% endblock %}